<div class="container">
	<mat-card class="instructions">
		<header>
			<mat-card-title>Welcome!</mat-card-title>
		</header>
		<mat-card-content>
			<strong>Purpose:</strong>
			<p>This experiment is to measure the efficacy and accuracy of voice control versus mouse input.</p>
			<strong>Contents:</strong>
			<p>
				There will be two tests involved with this experiment. The first test will be completed clicking the squares.
				The second test will be completed using vocal commands through a microphone. The test will be administered by
				playing the classic game Simon Says.
			</p>
			<strong>Game Rules:</strong>
			<p>
				There are four buttons arranged in a square. Each button has a different color, number, and tone associated with
				it. When you are ready, click <strong>Start</strong> to begin. The game will display a sequence of colors in a
				specific order. It is your job to memorize and select those colors in whatever order it asks as accurately as
				possible. After the sequence plays, you press the <b>Record Command</b> button below before inputing commands.
				After your sequence is entered, the game will notify you just below where the squares are if you got the
				sequence correct or incorrect. If you are ever confused what phase you are in, prompts are displayed just above
				the squares in the game. The game will start with one color and increase by 1 with each successful iteration.
				You have 2 attempts to achieve a high score round of a given sequence. With each incorrect entry, you lose an
				attempt and you start again with a new sequence (one color). Current round and attempts are displayed below the
				game. After 2 attempts you will move on to the next portion of the experiment. Which is another instruction
				screen containing information for the second test.
			</p>
			<p>
				The first test is performed by mouse input and is shown to the right. After the sequence has finished playing,
				please click the <b>Record Command</b> button to begin input, and then click the corresponding squares you were
				shown. Be sure to click firmly so the tone sounds. Once a square is pressed, the command is recorded and there
				is no going back.
			</p>
			<p>
				<b>NOTE:</b> the sequence will play <b>immiediately</b> after pressing start. Make sure you're prepared to
				memorize! You can take your time to process the sequence before pressing record. If you have any questions,
				please ask the administrator.
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button (click)="continue()" routerLink="/test1">
				<b>Click here when ready to proceed</b>
			</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="images">
		<h1>Sample Image of Click Test</h1>
		<img src="../../assets/click-ins3.jpg" alt="" class="thumb" />
	</mat-card>
</div>
