<div class="test1">
	<h1>First Test: Mouse Input</h1>
	<app-simon
		[clickDisabled]="false"
		(sendGameOver)="allowUserToContinue($event)"
		[(timerActive)]="timerActive"
		(timerActiveChange)="onTimerStateChanged($event)"
	></app-simon>
	<button mat-raised-button *ngIf="continue" class="button" routerLink="/instructions2" (click)="printScores()">
		Next
	</button>
	<button mat-raised-button (click)="startTimer()" *ngIf="!timerActive && !continue" class="button">
		Record Command
	</button>
	<button mat-raised-button *ngIf="timerActive && !continue" disabled="true" class="button">Timer running</button>
</div>
