<div class="container">
	<mat-card class="card">
		<mat-card-title>Welcome! Please Login or Register to Participate</mat-card-title>
		<mat-tab-group [(selectedIndex)]="selectedTabIndex" class="tab" color="primary">
			<mat-tab label="Sign In">
				<div [formGroup]="loginForm" class="form">
					<mat-form-field class="field-item">
						<input matInput placeholder="Username" formControlName="username" name="username" required />
						<mat-error *ngIf="loginForm.controls['username'].invalid"> Please enter your username </mat-error>
						<mat-error *ngIf="registerForm.controls['username'].hasError('pattern')">
							Usernames must be at least 5 characters long and can only contain alphanumeric characters, underscores,
							and hyphens
						</mat-error>
					</mat-form-field>
					<mat-form-field class="field-item">
						<input
							matInput
							type="password"
							placeholder="Password"
							formControlName="password"
							name="password"
							required
						/>
						<mat-error *ngIf="loginForm.controls['password'].invalid"> Please enter your password </mat-error>
						<mat-error *ngIf="registerForm.controls['password'].hasError('pattern')">
							Passwords must be at least 8 characters long and contain at least one lowercase letter, one uppercase
							letter, one number, and one special character
						</mat-error>
					</mat-form-field>
					<button mat-raised-button color="primary" (click)="login()" routerLink="test1">Sign In</button>
					<div class="mt-2">Don't have an account? <a href="#" (click)="selectedTabIndex = 1">Register</a></div>
				</div>
			</mat-tab>
			<mat-tab label="Register">
				<div [formGroup]="registerForm" class="form">
					<mat-form-field class="field-item">
						<input matInput placeholder="First Name" formControlName="firstName" name="firstName" required />
						<mat-error *ngIf="registerForm.controls['firstName'].invalid"> Please enter your first name </mat-error>
					</mat-form-field>
					<mat-form-field class="field-item">
						<input matInput placeholder="Last Name" formControlName="lastName" name="lastName" required />
						<mat-error *ngIf="registerForm.controls['lastName'].invalid"> Please enter your last name </mat-error>
					</mat-form-field>
					<mat-form-field class="field-item">
						<input matInput placeholder="Username" formControlName="username" name="username" required />
						<mat-error *ngIf="loginForm.controls['username'].invalid"> Please enter your username </mat-error>
						<mat-error *ngIf="registerForm.controls['username'].hasError('pattern')">
							Usernames must be at least 5 characters long and can only contain alphanumeric characters, underscores,
							and hyphens
						</mat-error>
					</mat-form-field>
					<mat-form-field class="field-item">
						<input
							matInput
							type="password"
							placeholder="Password"
							formControlName="password"
							name="password"
							required
						/>
						<mat-error *ngIf="loginForm.controls['password'].invalid"> Please enter your password </mat-error>
						<mat-error *ngIf="registerForm.controls['password'].hasError('pattern')">
							Passwords must be at least 8 characters long and contain at least one lowercase letter, one uppercase
							letter, one number, and one special character
						</mat-error>
					</mat-form-field>
					<button mat-raised-button color="primary" (click)="register()" routerLink="test1">Sign In</button>
					<div class="mt-2">Already have an account? <a href="#" (click)="selectedTabIndex = 0">Sign In</a></div>
				</div>
			</mat-tab>
		</mat-tab-group>
	</mat-card>
</div>
