<div class="container">
	<mat-card class="notification">
		<mat-card-title>Thank you for participating in our experiment!</mat-card-title>
		<mat-card-content>
			<b
				>Before entering, please be sure you have your microphone and speakers configured correctly. And please make
				sure you are using either Chrome or Microsoft Edge as a browser for the voice recognition to work correctly.
				Thank you.</b
			>
		</mat-card-content>
	</mat-card>
	<mat-card class="register">
		<mat-card-title>Register to Participate</mat-card-title>
		<mat-card-content>
			<form [formGroup]="registerForm" class="form" (ngSubmit)="register()">
				<mat-form-field class="field-item">
					<input matInput placeholder="First Name" formControlName="firstName" name="firstName" required />
					<mat-error *ngIf="registerForm.controls['firstName'].invalid"> Please enter a valid name </mat-error>
				</mat-form-field>

				<mat-form-field class="field-item">
					<input matInput placeholder="Last Name" formControlName="lastName" name="lastName" required />
					<mat-error *ngIf="registerForm.controls['lastName'].invalid"> Please enter a valid name </mat-error>
				</mat-form-field>
				<button mat-raised-button type="submit" color="primary">Register</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
