<div class="container">
	<mat-card class="notification">
		<mat-card-title>Thank you for participating in our experiment!</mat-card-title>
		<mat-card-content>
			<p>
				This app is designed to test the efficacy of voice control in playing the game Simon. The data collected from
				this app will be used for collegiate purposes only. Your first and last name will be collected during
				registration but it is only to generate a unique ID and will not be used in any data analysis after collection.
				By using this application and registering your information, you consent to the use of your experiment data for
				research purposes. If you have any questions or concerns, please contact us at jgoing@colostate.edu. Thank you
				for your participation.
			</p>
			<b style="color: red">
				Before entering, please be sure you have your microphone and speakers configured correctly. And please make sure
				you are using either Chrome or Microsoft Edge as a browser for the voice recognition to work correctly. It will
				not work in any other browser. Thank you.
			</b>
		</mat-card-content>
	</mat-card>
	<mat-card class="register">
		<mat-card-title>Register to Participate</mat-card-title>
		<mat-card-content>
			<form [formGroup]="registerForm" class="form" (ngSubmit)="register()">
				<mat-form-field class="field-item">
					<input matInput placeholder="First Name" formControlName="firstName" name="firstName" required />
					<mat-error *ngIf="registerForm.controls['firstName'].invalid"> Please enter a valid name </mat-error>
				</mat-form-field>

				<mat-form-field class="field-item">
					<input matInput placeholder="Last Name" formControlName="lastName" name="lastName" required />
					<mat-error *ngIf="registerForm.controls['lastName'].invalid"> Please enter a valid name </mat-error>
				</mat-form-field>
				<button mat-raised-button type="submit" color="primary">Register</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
